body{
  display: flex;
  background-color: hsl(185, 75%, 39%);
  font-size: 18px;
  padding-left: 35%;
  padding-right: 50%;
  padding-top: 8%;
  padding-bottom: 8%;
}

.under {
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: -1;
}

.over {
  position:fixed;
  left: 700px;
  top: 250px;
  z-index: -1;
}

.container{
  display:flex;
  position: relative;
  flex-direction:column;
  font-family: 'Kumbh Sans',sans-serif;
  flex-wrap:nowrap;
  background-color: #ffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} 

.card{
  display: flex;
  background-color: #ffff;
  flex-flow: column;
  align-items: center;
}

.intro-one{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
}
.intro-two{
  display: flex;
  flex-direction: row;
}
.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.age{
  display: flex;
  text-decoration: grey;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.follow{
  display: flex;
  justify-items: baseline;
  flex-direction: column;
}

.like{
  display: flex;
  justify-items: baseline;
  flex-direction: column;
}

.photo{
  display: flex;
  justify-items: baseline;
  flex-direction: column;
}
.one{
  position: relative;
  top: 0%;
  left: 0%;
}
.two{
  position: absolute;
  border-radius: 50%;
  border: 5px solid #ffff;
  top: 20%;
  left: 40;
}

.stats{
  font-weight: 700;
}
.stats-tag{
  color: grey;
  font-weight: 300;
  font-size: 14px;
}